// Typography
@bodyFontFamily: 'Noto Serif', serif;
@bodyFontSizeDesk: 1em;
@headingFontFamily: 'Oxygen', sans-serif;
@headingFontSizeDesk:1.4em;
@formFontSizeDesk:0.8em;

//Colours
@red:#ed1b24;
@green:#00a652;